# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE (IntelliJ / WebStorm)
# =========================
.idea/
*.iml

# =========================
# Node / Web
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# Build / Cache
# =========================
dist/
build/
.cache/

# =========================
# Local settings
# =========================
.env
.env.local

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Backup / Temp
# =========================
*.bak
*.tmp
*.swp


# Text output / local data
text/
